<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GGDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GGNetwork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A7544231DE19D0100C9BC9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A75443C1DE19D0100C9BC9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A7544471DE19D0100C9BC9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A7544691DE19F0700C9BC9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A7544711DE19F0700C9BC9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
